<script type="text/x-kendo-template" id="toolbar-template">
    <div class="toolbar">
        <button type="button" data-ng-click="addQuickCustomer()" class="k-button k-button-icontext">
            <span class="k-icon k-add"></span>افزودن مشتری سریع
        </button>
        <button type="button" data-ng-click="addCustomer()" class="k-button k-button-icontext">
            <span class="k-icon k-add"></span>افزودن
        </button>
        <button type="button" data-ng-click="editCustomer()" class="k-button k-button-icontext">
            <span class="k-icon k-edit"></span>ویرایش
        </button>
    </div>
</script>

<div id="div-customers" class="k-rtl">

    <div class="row">
        <kendo-grid options="customerGridOptions" k-on-change="selectingCustomer(data, dataItem, columns)"></kendo-grid>
    </div>
</div>