<form role="form">
    <div class="form-group">
        <label>کد سطح</label>
        <input type="text" name="tierCode" ng-model="tier.tierCode" value="" class="form-control"/>
    </div>
    <div class="form-group">
        <label>نام سطح</label>
        <input type="text" name="tierName" ng-model="tier.tierName" value="" class="form-control" />
    </div>
    <div class="form-group">
        <input type="button" ng-click="saveTier();" class="btn btn-success" value="ذخیره" />
        <input type="button" ng-click="tiers();" class="btn btn-warning" value="انصراف" />
    </div>
</form>