<form name="customerGroupForm" ng-controller="customergroupcontroller" class="k-rtl">
    <div class="row">
        <div class="col-xs-6 box-col" ng-show="selectedItem">
            <input class="form-control" type="text" data-ng-model="groupName" placeholder="نام گروه" required />

            <span style="color:red" ng-show="customerGroupForm.groupName.$dirty && customerGroupForm.groupName.$invalid">
                <span ng-show="customerGroupForm.groupName.$error.required">لطفا نام کاربری را وارد نمایید</span>
            </span>
        </div>

        <div class="col-xs-6 box-col" ng-show="selectedItem">
            <button class="k-button" ng-disabled="groupName=='' || selectedItem==''" ng-click="addBelow(selectedItem)">افزودن</button>
            <button class="k-button" ng-disabled="selectedItem==''" ng-click="edit(selectedItem)">ویرایش</button>
            <button class="k-button" ng-click="remove(selectedItem)">حذف</button> | 
            <button type="button" data-ng-click="save()" ng-disabled="pendingGroups.length == 0" class="btn btn-success">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> ثبت
            </button>
        </div>
    </div>
    <hr />
    <div kendo-tree-view="tree" k-options="customerGroupsOptions" k-on-change="selectedItem = dataItem"></div>

</form>